/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* CONFIG
/*
/* http://compass-style.org/help/documentation/configuration-reference/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

// GLOBAL
$http_path:			"/" 								!default;
$project_path: 		""	 								!default;

// CSS
$css_dir:			"stylesheets/" 						!default;

// FONTS
$fonts_dir:			$css_dir + "fonts/" 				!default;
$fonts_path:		$project_path + $fonts_dir 			!default;
$http_fonts_dir:	$http_path + $fonts_dir 			!default;
$http_fonts_path:	$http_fonts_dir 					!default;
